$primary: grey;
$secondary: grey;

.headerImg{
background-image: url("https://p0.piqsels.com/preview/1001/64/926/business-office-desk-work.jpg");
background-size: cover;
padding: 150px;
font-size: 25px;
color: white;
text-shadow: 1px 1px 2px black;
text-align: center;
}

.headerTitre{
    font-size: 70px;
}
.bordure{
    border-bottom: white 2px solid;
}
header{

        padding-bottom: 30px;
    a{
        color: grey;
    }

    .nav-bar{
        .container{
            display: flex;
            justify-content: space-between;
        }
    }
}

.list-unstyled{
    margin: 40px;;
}
button{
    color: grey;
    background-color: white;
}
hr{
    margin: 4rem 0 4rem 0;
    width: 20%;
    border-width: 3px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
footer{
    .footerTitre{
        font-size: 40px;
        color: white;
        text-shadow: 1px 1px 2px black;
    }    
    .footerImg{
        padding: 80px;;
        background-image: url("https://images.radio-canada.ca/q_auto,w_960/v1/ici-info/16x9/ecriture-rapport-papier-odinateur-mains-personne-agee-homme-travail-signature.jpg");
        background-size: cover;
    }
}
@import "~bootstrap/scss/bootstrap"

